.homeContainer {
   width: 100%;
   height: 100%;
}

.navigationContainer {
   width: 100%;
   height: 10vh;
}

.navigationContents {
   width: 60%;
   margin: 10px auto;
   display: grid;
   grid-template-columns: 1fr auto;
}

.storeNameContainer {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.menuIcon {
   display: none;
}

.containerLogo {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.containerLogo .img {
   height: auto;
   width: 15%;
   cursor: pointer;
}

.searchContainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

.searchContainer input {
   width: 250px;
   height: 37px;
   border: 1px solid rgba(0, 0, 0, 0.3);
   padding-left: 10px;
   border-radius: 5px;
}

.linkContainer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.linkContainer .link {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-left: 45px;
   cursor: pointer;
}

.linkContainer .link .icon {
   color: #f85a40;
   font-size: 1.4em;
}

.linkContainer .link h1 {
   font-size: 0.9em;
   font-family: sans-serif;
   font-weight: 400;
}


@media (max-width:700px) {
   .homeContainer {
      position: sticky;
      top: 0;
      z-index: 900;
      background-color: #fff;
   }

   .navigationContainer {
      width: 100%;
      height: auto;
   }

   .menuIcon {
      display: flex;
   }

   .containerLogo {
      margin-left: 10px;
   }

   .containerLogo .img {
      height: auto;
      width: 35%;
   }

   .searchContainer {
      display: none;
   }


   .linkContainer .link {
      margin-left: 35px;
   }


   .linkContainer .link:nth-child(4) {
      display: none;
   }

   .linkContainer .link:nth-child(3) {
      display: none;
   }

   .navigationContents {
      width: 97%;
   }


   .linkContainer .link .icon {
      font-size: 1.25em;
   }

   .menuContainer {
      height: 50vh;
      width: 99%;
      background-color: #eee;
      z-index: 900;
   }

   .menuHeader {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 10px;
      margin-top: 10px;
   }

   .menuHeader h1:nth-child(1) {
      font-size: 1em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .menuHeader h1:nth-child(2) {
      font-size: 1.4em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
   }

   .menuNavigations {
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 20px;
   }

   .link{
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .link .linkIcon{
      color: red;
      font-size: 1em;
   }

   .link a{
      font-size: 0.9em;
      margin-left: 5px;
      color: #000;
      text-decoration: none;
   }

}