.loginContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   width: 100%;
}

.loginContents {
   width: 25%;
   height: 100%;
   box-shadow: 0px 0px 50px green;
   margin-top: 0%;
   border-radius: 10px;
}

.loginLogoContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
}

.loginLogoContainer .logo {
   height: auto;
   width: 20%;
   border-radius: 50%;
}

.loginContainerHeader {
   margin: 1% auto;
   width: 50%;
}

.loginContainerHeader h2 {
   font-size: 20px;
   font-family: serif;
   text-align: center;
}

.loginForm {
   width: 55%;
   margin: 7% auto;
}

.loginFormInput {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 10%;
   position: relative;
}

.loginFormInput label {
   color: #000;
   font-size: 17px;
   font-family: serif;
   font-weight: 100;
}

.loginFormInput input,
.loginFormInput select {
   width: 100%;
   height: 45px;
   border-radius: 5px;
   border: 1px solid #000;
   display: flex;
   padding-left: 10px;
   color: #230035;
   font-family: serif;
   font-weight: 600;
   letter-spacing: 0.5px;
   transition: 0.2s ease-in-out;
}

.loginFormInput .visibilityIcon {
   position: absolute;
   top: 62%;
   transform: translateY(-50%);
   right: 10px;
}


.loginForm button {
   width: 100%;
   height: 45px;
   background-color: green;
   color: #fff;
   font-family: serif;
   font-size: 20px;
   transition: 0.4s ease-in-out;
   border-radius: 5px;
   margin-top: 4%;
   border: none;
   cursor: pointer;
}

.loginActions {
   display: grid;
   grid-template-columns: 1fr auto;
   width: 100%;
}


.loginActions a {
   color: #FF176C;
   text-decoration: none;
   font-family: serif;
   font-size: 15px;
}

.loginActions a:nth-child(2) {
   font-size: 15px;
   cursor: pointer;
   color: green;
   font-weight: 700;
}

.loadingContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 9999;
}


/* Desktop/Laptop -- [1024 x 600 - 768] */
@media(min-width:1024px) and (max-width:1024px) and (min-height:600px) and (max-height:768px) {
   .loginContents {
      width: 30%;
   }

   .loginLogoContainer .logo {
      width: 25%;
   }

   .loginContainerHeader {
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 75%;
      margin: 7% auto;
   }

   .loginFormInput {
      margin-bottom: 8%;
      position: relative;
   }

   .loginFormInput label {
      color: #000;
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 40px;
   }

   .loginFormInput .visibilityIcon {
      top: 65%;
      font-size: 20px;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 17px;
   }


   .loginActions a {
      font-size: 14px;
      font-weight: 100;
   }

   .loginActions a:nth-child(2) {
      font-size: 14px;
      font-weight: 100;
   }

}



/* Desktop/Laptop -- [1280 - 1366 x 768 - 800] */
@media(min-width:1280px) and (max-width:1366px) and (min-height:768px) and (max-height:800px) {
   .loginContents {
      width: 29%;
   }

   .loginLogoContainer .logo {
      width: 24%;
   }

   .loginContainerHeader {
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 18px;
   }

   .loginForm {
      width: 70%;
      margin: 7% auto;
   }

   .loginFormInput {
      margin-bottom: 8%;
      position: relative;
   }

   .loginFormInput label {
      color: #000;
      font-size: 16px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 43px;
   }

   .loginFormInput .visibilityIcon {
      top: 65%;
      font-size: 22px;
   }

   .loginForm button {
      width: 100%;
      height: 43px;
      font-size: 17px;
   }


   .loginActions a {
      font-size: 15px;
      font-weight: 100;
   }

   .loginActions a:nth-child(2) {
      font-size: 15px;
      font-weight: 100;
   }

}



/* Desktop/Laptop -- [1440 - 1680 x 900 - 1050] */
@media(min-width:1440px) and (max-width:1680px) and (min-height:900px) and (max-height:1050px) {
   .loginContents {
      width: 26%;
   }

   .loginLogoContainer .logo {
      width: 24%;
   }

   .loginContainerHeader {
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 19px;
   }

   .loginForm {
      width: 68%;
      margin: 7% auto;
   }

   .loginFormInput {
      margin-bottom: 8%;
      position: relative;
   }

   .loginFormInput label {
      color: #000;
      font-size: 17px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 45px;
   }

   .loginFormInput .visibilityIcon {
      top: 65%;
      font-size: 22.5px;
   }

   .loginForm button {
      width: 100%;
      height: 45px;
      font-size: 17px;
   }


   .loginActions a {
      font-size: 15.5px;
      font-weight: 100;
   }

   .loginActions a:nth-child(2) {
      font-size: 15.5px;
      font-weight: 100;
   }

}



/* Desktop/Laptop -- [1920 x 1080 - 1200] */
@media(min-width:1440px) and (max-width:1920px) and (min-height:1080px) and (max-height:1200px) {
   .loginContents {
      width: 26%;
   }

   .loginLogoContainer .logo {
      width: 22%;
   }

   .loginContainerHeader {
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 20px;
   }

   .loginForm {
      width: 68%;
      margin: 7% auto;
   }

   .loginFormInput {
      margin-bottom: 8%;
      position: relative;
   }

   .loginFormInput label {
      color: #000;
      font-size: 18px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 53px;
   }

   .loginFormInput .visibilityIcon {
      top: 65%;
      font-size: 22.5px;
   }

   .loginForm button {
      width: 100%;
      height: 53px;
      font-size: 18px;
   }


   .loginActions a {
      font-size: 16px;
      font-weight: 100;
   }

   .loginActions a:nth-child(2) {
      font-size: 16px;
      font-weight: 100;
   }

}





/* Desktop/Laptop -- [2560- 4096 x 1440 -2304 ] */
@media(min-width:2560px) and (max-width:4096px) and (min-height:1440px) and (max-height:2304px) {
   .loginContents {
      width: 21%;
   }

   .loginLogoContainer .logo {
      width: 20%;
   }

   .loginContainerHeader {
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 23px;
   }

   .loginForm {
      width: 65%;
      margin: 7% auto;
   }

   .loginFormInput {
      margin-bottom: 8%;
      position: relative;
   }

   .loginFormInput label {
      color: #000;
      font-size: 19px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 58px;
   }

   .loginFormInput .visibilityIcon {
      top: 65%;
      font-size: 22.5px;
   }

   .loginForm button {
      width: 100%;
      height: 58px;
      font-size: 19px;
   }


   .loginActions a {
      font-size: 17px;
      font-weight: 100;
   }

   .loginActions a:nth-child(2) {
      font-size: 17px;
      font-weight: 100;
   }

}








/* Desktop/Laptop -- [5120 x 2880 ] */
@media(min-width:5120px) and (max-width:5120px) and (min-height:2880px) and (max-height:2880px) {
   .loginContents {
      width: 18%;
   }

   .loginLogoContainer .logo {
      width: 18%;
   }

   .loginContainerHeader {
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 33px;
   }

   .loginForm {
      width: 60%;
      margin: 7% auto;
   }

   .loginFormInput {
      margin-bottom: 8%;
      position: relative;
   }

   .loginFormInput label {
      color: #000;
      font-size: 19px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 68px;
   }

   .loginFormInput .visibilityIcon {
      top: 65%;
      font-size: 24px;
   }

   .loginForm button {
      width: 100%;
      height: 68px;
      font-size: 22px;
   }


   .loginActions a {
      font-size: 18px;
      font-weight: 100;
   }

   .loginActions a:nth-child(2) {
      font-size: 18px;
      font-weight: 100;
   }

}



/* Tablet/iPad -- [991 - 1024 x 1280 - 1366 ] */
@media(min-width:991px) and (max-width:1024px) and (min-height:1280px) and (max-height:1366px) {
   .loginContents {
      width: 39%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }

   .loginContainerHeader h2 {
      font-size: 18px;
   }

   .loginForm {
      width: 62%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 16px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 50px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 22px;
   }

   .loginActions a {
      font-size: 14px;
   }

   .loginActions a:nth-child(2) {
      font-size: 14px;
   }

   .loginForm button {
      width: 100%;
      height: 50px;
      font-size: 18px;
   }

}


/* Tablet/iPad -- [768 - 800 x 1024 -1280 ] */
@media(min-width:768px) and (max-width:800px) and (min-height:1024px) and (max-height:1280px) {
   .loginContents {
      width: 45%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 23%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 62%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 45px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 15.5px;
   }

}



/* Tablet/iPad -- [600 - 604 x 960 - 1024 ] */
@media(min-width:600px) and (max-width:604px) and (min-height:960px) and (max-height:1024px) {
   .loginContents {
      width: 56%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 22%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 65%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 40px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 15.5px;
   }

}



/* Tablet/iPad -- [480 x 800 ] */
@media(min-width:480px) and (max-width:480px) and (min-height:800px) and (max-height:800px) {
   .loginContents {
      width: 70%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 22%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 65%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 40px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }
}








/* Mobile Phone -- [991 x 568 ] */
@media(min-width:991px) and (max-width:991px) and (min-height:568px) and (max-height:568px) {
   .loginContents {
      width: 36%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 22%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 65%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 40px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }
}


/* Mobile Phone -- [411 - 480 x 690 - 896 ] */
@media(min-width:411px) and (max-width:480px) and (min-height:690px) and (max-height:896px) {
   .loginContents {
      width: 70%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 20%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 70%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 45px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 15.5px;
   }

}

/* Mobile Phone -- [320 - 480 - 568 ] */
@media(min-width:320px) and (max-width:320px) and (min-height:480px) and (max-height:568px) {
   .loginContents {
      width: 85%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 20%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 80%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 45px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 15.5px;
   }

}


/* Mobile Phone -- [360 - 384 x 600 - 812 ] */
@media(min-width:360px) and (max-width:384px) and (min-height:600px) and (max-height:812px) {
   .loginContents {
      width: 80%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 20%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 76%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 45px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 15.5px;
   }

}

/* Mobile Phone -- [max-wdith = 700 ] */
@media(max-width:700px) {
   .loginContents {
      width: 80%;
   }

   .loginContainerHeader {
      margin: 3% auto;
      width: 100%;
   }


   .loginLogoContainer .logo {
      height: auto;
      width: 20%;
   }


   .loginContainerHeader h2 {
      font-size: 17px;
   }

   .loginForm {
      width: 76%;
      margin: 7% auto;
   }

   .loginFormInput label {
      font-size: 15px;
   }

   .loginFormInput input,
   .loginFormInput select {
      width: 100%;
      height: 45px;
   }

   .loginFormInput .visibilityIcon {
      top: 63%;
      font-size: 21px;
   }

   .loginActions a {
      font-size: 13px;
   }

   .loginActions a:nth-child(2) {
      font-size: 13px;
      font-weight: 100;
   }

   .loginForm button {
      width: 100%;
      height: 40px;
      font-size: 15.5px;
   }

}

